extends layout

block content
  h2 This is overpass :)
  table
    for item in results
      tr
        td=item.address
        td=item.roadtype
        td=item.roadname
        td=item.name
        td
          a(href='/post?title=overpass&id=' + item.ID)=item.name 
