extends layout
block content

  .jumbotron
    h1.display-6 Facility Information
    .card.border-muted.mb-3(style='max-width: 100rem;')
      .card-body
        table
          colgroup
            col(width='200')
          for item in posts
            tr
              th(scope='row') Facility Name
              td=item.name
            tr
              th(scope='row') Address
              td=item.address
            tr
              th(scope='row') Operating Days
              td=item.operatingDays
            tr
              th(scope='row') Start Time
              td=item.startTime
            tr
              th(scope='row') End Time
              td=item.endTime               
            tr
              th(scope='row') Fee
              td=item.fee
            tr
              th(scope='row') Telephone No.
              td=item.phoneNumber
  .jumbotron
    h1.display-6 Location Map
    .mapouter
      .gmap_canvas
        for a in posts
          iframe#gmap_canvas(width='1000' height='500' src='https://map.kakao.com/?q='+a.address frameborder='0' scrolling='no' marginheight='0' marginwidth='0')
      style.
       .mapouter{position:relative;height:500px;width:100%;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:100%;}                                                                                                                                  
  .jumbotron
    h1.display-6 User Reviews
    table
      thead
        tr
          th ID
          th Title
          th Content
          th Rating
      tbody
        for item in reviews
          tr
            td=item.reviewID
            td=item.Name
            td=item.Text
            td=item.rating
    style.
      table {
      width: 100%;
      border-collapse: collapse;
      }
      th, td {
      padding: 5px;
      }
      thead tr {
      background-color: gray;
      color: #ffffff;
      }
      tbody tr:nth-child(2n) {
      background-color: #d3d3d3;
      }
      tbody tr:nth-child(2n+1) {
      background-color: white;
      }
      input, textarea {
      padding: 5px;
      margin: 4px;
      border: solid #ccc;
      box-sizing: border-box;
      border-radius:4px;
      }
      input[type=text] {
      width: 43%;
      }
      input[type=number] {
      width: 10%;
      }

   
    hr
    p(style="font-size:23px;") 
      i Share your own review for this facility! 
    form(action='/create' method='get')
      input(type='text' name='title' placeholder='Title')
      input(type='hidden' name='id', value=id)
      input(type='text' name='content' placeholder='Content')
      input(type='number' name='rating' min='0' max='5' placeholder='*/5')
      input(type='submit' value='Register')
