extends layout

block content
  h2 This is Public Toilet :)
  table
    for item in results
      tr
        td=item.name
        td=item.address
        td=item.phonenumber
        td=item.unisex
        td
          a(href='/post?title=publicToilet&id=' + item.ID)=item.name
