extends layout

block content
  h2 This is SpeedCamera :)
  table
    for item in results
      tr
        td=item.roadnumber
        td=item.roadname
        td=item.address
        td=item.placeinstalled
        td
          a(href='/post?title=speedCamera&id=' + item.ID)=item.name
